# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js
/backend/.venv
/backend/dist

# testing
/allergy_app/coverage

# production
/allergy_app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/allergy_app/node_modules
*.pyc

output.sql

# front end
/allergy_app/.env
be.env
