
services:
  frontend:
    build:
      context: ./allergy_app
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
    volumes:
      - ./allergy_app:/app
      - /app/node_modules

    environment:
      - REACT_APP_API_BASE_URL=http://localhost:5000

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      DB_USER: myuser
      DB_PASSWORD: mypassword
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: mydatabase
      SECRET_KEY: secret
      ADMIN_PASSWORD: UTSA
    ports:
      - "5001:5000"
    volumes:
      - ./backend:/home/appuser/app
    command: gunicorn "src.allergy_snatcher.__main__:app" -b 0.0.0.0:5000 --reload
    depends_on:
      db:
        condition: service_healthy
        
  db:
    image: mysql:8.0
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
      SECRET_KEY: 1234567890
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
      

volumes:
  db_data:
